@media (min-width: 992px) {
    .chart-area .chart-image {
        position: relative !important;
        margin: auto !important;
        height: 48vh !important;
        width: 32vw !important;
    }
}
