

.badge-leaderboard {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

.badge-leaderboard th,
.badge-leaderboard td {
   border-bottom: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.badge-leaderboard th {
    background-color: #f9c916;
    font-weight: bold;
}

/* .badge-leaderboard tr:nth-child(even) {
    background-color: #fafafa;
} */
