

@mixin mb2_element_header() {
    background-color: lighten($color_gray2,2%);
    border: solid 1px rgba(0,0,0,.01);
    border-radius: var(--mb2-btn-radius);
    box-shadow: 0 2px 3px rgba(0,0,0,.15);
}


@mixin mb2_scrollbar($color) {
    &::-webkit-scrollbar {
        width: 6px;
    }
  
    &::-webkit-scrollbar-track {
        background-color: transparent;
    }
  
    &::-webkit-scrollbar-thumb {
        background-color: $color;
        border-radius: 999px;
    }
}
