/* ================= CHANGE SOME DEFAULT STYLES */

.secondary-navigation {

	padding: 0;

	.navigation {
		border: 0;
		padding: 0;
		background-color: transparent;

		.nav-tabs {
			max-width: 100%;
			background-color: transparent;

			@media only screen and (max-width: $wdmediumdevice) {
				justify-content: center;
			}
		}
	}

	.moremenu {
		margin: 1rem 0 0 0 !important;
		height: 1.9rem;

		.nav-link {
			box-shadow: none !important;
			height: 1.9rem;	
			border: solid 1px rgba(0,0,0, .08) !important;
			margin-right: .5rem;
			border-radius: 999px !important;
			color: var(--mb2-pb-textcolor);
			background-color: transparent !important;
	
			&.active {
				border-color: rgba(0,0,0,.3) !important;
				color: $linkcolor;
				font-weight: var(--mb2-pb-fwbold);
			}
		}

	}

	.fsmod-course & {

		position: relative;
		top: -.95rem;
		
		.moremenu {
			margin: 0 !important;
		}
	}


	.dropdown-menu {
		margin-top: 1rem;
		border-radius: .18rem;
	}	
}