

.theme-scrolltt {
    position: fixed;
    bottom: -100px;
    right: 33px;
    width: 40px;
    flex: 0 0 40px;
    height: 40px;
    z-index: 1;
    background-color: $accent1 !important;
    opacity: .6;
    color: #fff!important;
    font-size: 2.3rem;
    text-align: center;
    @include mb2_border_radius(.15rem);
    transition: opacity 0.15s ease-in-out, bottom 0.25s ease-in-out !important;
   
	&.active {
		bottom: 86px;
	}

	&:hover {
		opacity: 1;
	}

    .hasstickyfooter &,
    .bulkenabled & {
        &.active {
            bottom: 126px; 
        }
    }

}
