
/* ======================= GENERAL STYLE */

.coursetoc-sectionlist {

    .block_coursetoc & {
        border: solid 1px rgba(0,0,0,.1);
        border-radius: var(--mb2-blockradius);
        box-shadow: 0 3px 6px rgba(0,0,0,.07);
        overflow: hidden;
    }
}

.block_coursetoc {
    margin-bottom: 3rem;

    .pagelayout-course & {
        > h4 {
            margin-bottom: calc(1.2rem - 22px);
        }
    }

}


.coursetoc-search {
    width: 100%;

    input {
        height: 2.35rem;
        padding-left: 2.22rem;
    }    

    label {
        margin: 0;
        top: 50%;
        margin-top: -1.175rem;
        line-height: 1;
        height: 2.35rem;
        font-size: 1.4rem;
        left: .4rem;
        color: var(--mb2-pb-textcolor);
    }

    .tgsdbc_dark .toggle-sidebar & {
        input {
            background-color: transparent;
            color: #fff !important;
            border-color: rgba(255,255,255,.07);

            &::placeholder {
                color: rgba(255,255,255, .3);
            }
        }

        label {
            color: #fff;
        }
    }

    .block_coursetoc & {
        padding: 0 !important;

        input {
            border: 0;
        }
    }
}


.coursetoc-sectionlist {

    .itemimage {
        display: inline-flex;
        flex: 0 0 1.6rem;
        height: 1.6rem;
        justify-content: center;
        align-items: center;
        border-radius: var(--mb2-btn-radius);
        margin-right: 1.1rem;
    }

    &:not(.enrol-sectionlist) {
        .itemimage {
            display: none;
        }
    }

}


.coursetoc-sectionlist-content:not(:empty) {
    .tgsdb-toc & {
        border-bottom: solid 1px rgba(0,0,0,.1);
    }

    .tgsdbc_dark .toggle-sidebar & {
        border-color: rgba(255,255,255,.07);
    }
}

.coursetoc-section-modules {
    display: none;
    padding: 0 1rem;
    border-top: solid 1px rgba(0,0,0,.1);

    .tgsdbc_dark .toggle-sidebar & {
        border-color: rgba(255,255,255,.07);
    }

    .fsmod-sections & {
        padding: 0 1.4rem;
    }

    .coursetoc-section.active & {
        display: block;
    }

    .enrollment-page & {
        padding: .2rem 1.6rem;
    }
}


/* ======================= SUBSECTION LIST */

.coursetoc-subsection {
    padding-left: calc(19px + 1.1rem);
    margin-right: -1rem;

    .title-text {
        font-weight: $fwbold;

        a {
            &:hover,
            &:focus {
                color: inherit !important;
            }
            
        }
    }

    .enrol-sectionlist & {
        padding-left: calc(16px + .45rem);

        .coursetoc-subsection-tite {
            justify-content: unset !important
        }
    }
}

.coursetoc-subsection-modules {
    display: none;

    .coursetoc-subsection.active & {
        display: block;
    }
}


.coursetoc-section-tite {
    position: relative;
    line-height: 1.1;    
    border-top: solid 1px rgba(0,0,0,.1);

    .tgsdbc_dark .toggle-sidebar & {
        border-color: rgba(255,255,255,.07);
    }

    .tgsdb-section .coursetoc-section:first-child & {
        border: 0;
    }

    .title-text {
        font-weight: $fwbold;  
        
        a {
            color: inherit !important;
        }
    }

    .coursetoc-section.highlighted & {
        .title-text .text {
            border-left: solid 5px $color_highlight;
            padding-left: 8px;
        }
    }   

}


/* ======================= SECTION TOGLE ARROWS */

.coursetoc-section-tite {

    .coursetoc-section.active &,
    .block_coursetoc & {
        background-color: lighten($color_gray2, 2%);
    }

    .tgsdbc_dark .toggle-sidebar .coursetoc-section.active & {
        background-color: rgba(0,0,0,.04);
    }

    padding: .85rem 0 .85rem .85rem;

    .enrollment-page & {
        padding-left: 1.13rem;
    }

}


.coursetoc-section-tite,
.coursetoc-subsection-tite {

    .coursetoc-section-toggle,
    .coursetoc-subsection-toggle {
        color: inherit;
        text-align: inherit;
        line-height: inherit;
        padding: 0;
        width: 3.3rem;
        flex: 0 0 3.3rem;
    }


    .toggle-icon {
        color: $textcolor;
        flex: 0 0 18px;

        &:before {
            font-size: 1.15rem;
            @include mb2_font_bootstrapicons();
            content: '\f285';
        }       

        .dir-rtl & {

            &:before {
                content: '\f284';
            }
        }
    }

    .tgsdbc_dark .toggle-sidebar & {
        .toggle-icon {
            color: #fff;
        }
    }

    .enrollment-page & {
        .toggle-icon {

            &:before {
                font-size: 1.45rem;
            }
        }
    }

}


/* ======================= ARROWS - ACTIVE STATE */

.coursetoc-section-tite {
    .coursetoc-section.active & {
        
        .toggle-icon {
            &:before {
                content: '\f282';
            }
        }
    }
}


.coursetoc-subsection-tite {
    .coursetoc-subsection.active & {
        
        .toggle-icon {
            &:before {
                content: '\f282';
            }
        }
    }
}



/* ======================= SECTION LIST */

.section-modules,
.subsection-modules {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        line-height: var(--mb2-pb-lhheadings);
        margin: 1.4rem 0;

        &.separator {
            margin: 0;
        }

        a {
          color: inherit;

          &:hover,
          &:focus {
              color: $linkcolor !important;
          }

        }

        &.active {
            a {
                color: $linkcolor !important;
                font-weight: $fwbold;
            }
        }

        &.indent1 {
            margin-left: .97rem;
        }

    }

    .hiddenicon {
        margin-left: .45rem;
    }

}






/* ======================= TOGGLE NAVIGATION */

.coursetoc-toggleall {
    color: inherit;
    flex: 0 0 auto;
}

.coursetoc-tool {
    font-size: $fssmall;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
}


.hbyjs {
    display: none !important;
}