
/* ======================= CHARTS AREA */

.dshb-wrap {
    .chart-wrap {
        gap: .8rem;

        .chart-semicircle {
            flex: 0 0 calc(33% - .8rem) !important;
        }
    }

    .col-lg-6 {
        margin-bottom: 3rem;
    }

}


.dash-chart {
    .gradbg {
        transform: scale(.975);
        transform-origin: center;
    }

    .dshb-block-chart & {
        color: #ffffff;
    }
}

#svg_stroke_grad {
    .start-color {
        stop-color: $color_success;
    }

    .end-color {
        stop-color: $color_info;
    }
}


/* ======================= BLOCK */

.dshb-block {    
    gap: .65rem;
    padding: 0 .6rem;
    height: 5.5rem;
    margin: 8px 0;
    width: 100%;

    > div {
        z-index: 1;
    }

    @media only screen and (min-width: $wsmalldevice){
        .dshb-cols-2 & {
            width: calc(50% - 15px);
        }       
    }

    &:before,
    &:after {
        content: '';
        display: block;
        border-radius: .45rem;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    &:before {
        background-color: var(--mb2-dshb-color);
        filter: brightness(.76);
    }

    &:after {
        background-image: linear-gradient(45deg, transparent, var(--mb2-dshb-color));
    }

}

.dshb-block-icon {
    color: #fff;
    font-size: 2.6rem;    
}


.dshb-block-content {

    .value,
    .block-name {
        color: #fff;
        font-weight: var(--mb2-pb-fwheadings);
    }

    .block-value {
        line-height: 1;
        gap: .3rem;        
    }

    .suffix {
        top: -3px;
        color: #fff;
    }

    .value {
        font-size: 2.2rem;
    }

}



/* =======================  WELCOME BOX */

.dshb-wbox {
    border: solid 1px var(--mb2-pb-bordercolor);
	@include mb2_box_shadow(0 2px 3px, rgba(0,0,0,.06));
    background-color: #fff;
    padding: 1.8rem;
    border-radius: .22rem;
    background-image: url([[pix:theme|wave-bg-black]]);
    background-repeat: no-repeat;
    background-position: 50% 101%;
    background-size: 120%;

    .timeago {
        font-weight: var(--mb2-pb-fwbold);
    }
}
