
.quicklinks {
    position: relative;
    z-index: 1040;
    //margin-right: auto;

    .hnavpos2 .master-header-inner & {
        margin-right: auto;
    }

    @media only screen and (max-width: $wdmediumdevice){
        display: none;
    }
}

.quicklinks-list {
    width: 200px;
    list-style: none;
    margin: 0;
    padding: 0;

    .quicklinks & {
        display: none;
        position: absolute;
        left: 0;
        top: 35px;
        background-color: #fff;
        width: 270px;
        padding: .65rem;
        border: solid 1px rgba(0,0,0,.08);
        @include mb2_box_shadow(0 10px 20px, rgba(0,0,0,.15));
        border-radius: var(--mb2-blockradius);
        max-height: 400px;
        overflow-y: auto;
        @include mb2_scrollbar(rgba(0,0,0,.22));
    }

    /* ================= ON MOBILE MENU */

    .menu-extracontent & {
        display: flex;
        flex-flow:wrap;

        li {
            flex: 0 0 50%;
            max-width: 50%;

            @media only screen and (max-width: $wxsmalldevice){
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
    }

    .quicklinks.open & {
        display: block;
    }

    .item-link {
        color: inherit;
        padding: 0 1.2rem;
        line-height: 1.1;
        height: 3.2rem;
        @include mb2_border_radius(.28rem);

        &:hover,
        &:focus {
            color: inherit;
            border: 1px solid;
            border-radius: 10px;
            background-color: rgb(0 0 0 / 16%);
        }
    }

    .static-icon {
        width: 20px;  
        margin-right: .8rem;     

        i {
            @include mb2_transform_scale(1.28);
        }
    }

}



#quicklinks-toggle {
    svg {
        display: inline-block;
        width: 30px;

        path {
            fill: var(--mb2-qlinksbtnc);
        }
    }
}