
.sliding-panel {
    background-color: $accent2;
    position: relative;
    z-index: 12;
    background-image: url([[pix:theme|svg/strip1_white8]]);
}


.sliding-panel:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background-color: lighten($accent2,12%);
}





.sliding-panel {

    margin-top: -1px;

    .panel-item,
    .sliding-panel-close {
        display: none;
    }


    &[data-open="login"],
    &[data-open="search"] {
        .sliding-panel-close {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            right: .7rem;
            top: .7rem;
            color: #fff;
            font-size: 1.4rem;
            width: 1.4rem;
            height: 1.4rem;
        }
    }
    

    &[data-open="login"] {
        .panel-login {
            display: block;
        }
    }

    &[data-open="search"] {
        .panel-search {
            display: block;
        }
    }

}