<div class="user_statistics">
<div class="dashboard-metrics">
    <div class="card blue">
        <div class="count">{{totalstudents}}</div>
        <div class="label">{{#str}} totalstudents, block_user_statistics {{/str}}</div>
    </div>
    <div class="card orange">
        <div class="count">{{newstudents}}</div>
        <div class="label">{{#str}} newstudents, block_user_statistics {{/str}}</div>
    </div>
    <div class="card purple">
        <div class="count">{{totalcourses}}</div>
        <div class="label">{{#str}} totalcourses, block_user_statistics {{/str}}</div>
    </div>
    <div class="card green">
        <div class="count">{{completedcourses}}</div>
        <div class="label">{{#str}} completedcourses, block_user_statistics {{/str}}</div>
    </div>
    <div class="card red">
        <div class="count">{{certificates}}</div>
        <div class="label">{{#str}} certificates, block_user_statistics {{/str}}</div>
    </div>
</div>
</div>
