name: FTP Deploy

on:
  push:
    branches:
      - main  # Run only on pushes to the 'main' branch

jobs:
  ftp-deploy:
    name: Upload to FTP
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Install FTP Client
        run: sudo apt-get install -y lftp

      - name: Upload via FTP (Plain FTP)
        run: |
          lftp -u ${{ secrets.FTP_USERNAME }},${{ secrets.FTP_PASSWORD }} ${{ secrets.FTP_SERVER }} <<EOF
            lcd ./;
            cd /public_html/welearn;
            mirror -R --delete --verbose;
            bye
EOF
